## Programming for Data Analysis

#### Martin Cusack   Student ID: G00239124@gmit.ie

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns

In [11]:
# import Breast Cancer Wisconsin (Original) Data Set into a pandas data frame
df=pd.read_csv (r"C:\Users\cusac\OneDrive\Desktop\breast_cancer_bd.csv")

In [7]:
df

,Sample code number,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...
694,776715,3,1,1,1,3,2,1,1,1,2
695,841769,2,1,1,1,2,1,1,1,1,2
696,888820,5,10,10,3,7,3,8,10,2,4
697,897471,4,8,6,4,3,4,10,6,1,4
698,897471,4,8,8,5,4,5,10,4,1,4

In [10]:
df.shape

(699, 11)